{% extends "user/base.html" %}
{% block manage %}
<div class="ui basic segment">
<div class="ui stackable very relaxed grid container">
<div class="six wide centered column">
<div class="ui form">
    <div class="required field">
      <label>用户名</label>
      <input type="text" name="name" placeholder="请输入您的用户名">
    </div>
    <div class="required field">
      <label>密码</label>
      <input type="password" name="password" placeholder="请输入您的密码">
    </div>
    <div class="ui submit button">登录</div>
    <div class="ui error message">
        </div>
</div>
</div>
</div>
</div>
{% endblock %}
