{% extends "user/base.html" %}
{% block manage %}
<div class="ui basic segment">
<div class="ui stackable very relaxed grid container">
<div class="six wide centered column">
<div class="ui form">
    <div class="required field">
      <label>用户名</label>
      <input type="text" name="name" placeholder="请输入您的用户名">
    </div>
    <div class="required field">
      <label>邮箱地址</label>
      <input type="text" name="email" placeholder="请输入您的邮箱">
    </div>
    <div class="required field">
      <label>密码</label>
      <input type="password" name="password" placeholder="请输入您的密码">
    </div>
    <div class="required field">
      <label>确认密码</label>
      <input type="password" name="password2" placeholder="请再次输入您的密码">
    </div>
    <div class="field">
      <div class="ui checkbox checked">
        <input type="checkbox" name="terms" tabindex="0" class="hidden">
        <label>同意会员注册条款</label>
      </div>
    </div>
    <div class="ui submit button">提交</div>
    <div class="ui error message">
        </div>
</div>
</div>
</div>
</div>
{% endblock %}
