{% extends "bookmanage/base.html" %}
{% block manage %}
<div class="ui segment">
  <div class="ui search">
    <div class="ui icon input">
      <input id="goto_bookid" type="text" placeholder="Goto..." />
      <input id="goto_bookid_btn" type="button" class="ui small button" />
      <i class="search icon"></i>
    </div>
  </div>

  <div class="ui labeled menu">
    <a id="add_booksync" class="item">发起同步</a>
    <a id="view_chapters" class="item" target="_blank" href="{% url 'manage_chapters' bookid %}">章节列表</a>
  </div>

  <div class="ui three column grid">
    {% for desc, coverurl in coverDesc %}
    <div class="column">
      <div class="ui fluid image">
        <div class="ui teal right ribbon label">
          {{ desc }}
        </div>
        <img src="{{ coverurl }}">
      </div>
    </div>
    {% endfor %}
  </div>

  <table class="ui celled padded table">
    <thead><tr>
        <th class="single line">KEY</th>
        <th>VALUE</th>
    </tr></thead>
    <tbody>
    {% for key, val in bookDesc %}
    <tr>
      <td class="single line">{{ key }}</td>
      <td>{{ val|safe }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block postscript %}
<script>

function genMessageHtml(title, content) {
  return '<div class="ui floating message" style="position: fixed; top: 50px; right: 0;">' +
    '<i class="close icon"></i>' +
    '<div class="header">' + title + '</div>' +
    '<p>' + content + '</p>' +
  '</div>';
}

function showMessage(title, content) {
  var html = genMessageHtml(title, content);
  $("body").append(html);

  $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    });
;
}

function ajaxAddBooksync() {
  $.ajax({
    type: "POST",
    url: "{% url 'manage_ajax_addbooksync' %}",
    data: JSON.stringify({
      bookid: {{ bookid }}
    }),
    dataType: "json",
    success: function(data) {
      showMessage("info", "success");
    },
    error: function(data) {
      showMessage("warning", "failed");
    }
  });
}

$(function(){
  $("#add_booksync").click(function() {
    ajaxAddBooksync();
    //showMessage("debug", "test");
  });
  $("#view_chapters").click(function() {
    window.location ="";
  });
  $("#goto_bookid_btn").click(function() {
    window.location ="{% url 'manage_bookindex' %}" + "/" + $("#goto_bookid").val();
  });
});
</script>
{% endblock %}
