{% extends "bookmanage/base.html" %}
{% block manage %}
<div class="ui segment">
  <div class="ui dividing header ">体验管理</div>
  	<div class="ui two column stackable grid">
  	
		  <div class="ui column">
			<div class="ui action left">
			  <form action="{% url 'manage_surveyserial' %}" method="get" accept-charset="utf-8">
				  <div class="ui search">
					<div class="ui icon input small">
						  <input type="text" name="serial" placeholder="输入序列号，查询历月评价" />
						  <input type="submit" value="查询" />
						  <i class="search icon"></i>
					</div>
				<div class="results"></div>
			  </div>
			 </form>
			</div>
		 </div>
		 <div class="ui column">
		 <div class="ui action right">
		 	<form action="{% url 'manage_surveyresult' %}" method="get" accept-charset="utf-8">
		 		<div class="ui search">
		 			<div class="ui calendar inline">
		 				<label>历史数据查询</label>
		 				<div class="ui small input icon left" id="date1">
		 					<i class="calendar icon"></i>
                            <input type="text" placeholder="Date"
                            name="starttime" style="width: 100px">
		 				</div>
		 				<label>至</label>
		 				<div class="ui small input icon left" id="date2">
		 					<i class="calendar icon"></i>
                            <input type="text" placeholder="Date"
                            name="endtime" style="width: 100px">
		 				</div>
		 				<input type="submit" value="确定" />
		 				<i class="search icon"></i>
		 		</div>			
		 		</div>			
		 	</form>
		 	</div>
		 </div>
		 
  	</div>
  <table class="ui celled table">
   <div class="ui header">{{ startdate}}至 {{ enddate}} 累计满意度数据</div>
  	<thead>
  	<tr>
  	<th>观测点</th>
  	<th>满意净值</th>
  	<th>10-8分人数(占比)</th>
  	<th>7-5分人数(占比)</th>
  	<th>4-0分人数(占比)</th>
    <th>总评价人数</th>
  	</tr></thead>
  	<tbody>
  	{% for result in monthresult %}
  		<tr><td>
  			{{ result.question }}</td>
            <td>{{ result.satisfy }}</td>
            <td> {{ result.stat8to10 }}</td>
            <td> {{ result.stat5to7 }}</td>
            <td> {{ result.stat0to4 }}</td>
            <td> {{ result.totalcount }} </td>
            </tr>
    {% endfor %}
  	</tbody>
  </table>
  <div class="ui right aligned container" ><a href="{% url 'manage_survey_export' %}?starttime={{startdate}}&endtime={{enddate}}">导出当前数据</a></div>
</div>
   <script type="text/javascript">
  	$('#date1, #date2').calendar({
  		type:'month',
      formatter: { 
        date: function(date, settings) {
            if (!date) return '';
            var year  = date.getFullYear();
            var month = date.getMonth() + 1;
            month = month < 10 ? '0'+month : month;
            return year + '-' + month ;
        }}});
  </script>
{% endblock %}
