<div class="ui vertical menu">
  <div class="item">
    <div class="header">Book</div>
    <div class="menu">
      <a class="item" href="{% url 'manage_booksearch' %}">Book Search</a>
      <a class="item" href="{% url 'manage_bookindex' %}">Bookid Index</a>
      <a class="item">Csbid Search</a>
      <a class="item">Category Search</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Device</div>
    <div class="menu">
      <a class="item">Device Detail</a>
      <a class="item">Device Type</a>
    </div>
  </div>
</div>
